/********************************
    APPLICATION BY LITTLEDOVE
********************************/

#app-caelestis .lds-tbg { background: url(https://s8.postimg.cc/6qsa5fq1x/ezgif.com-gif-maker_2.jpg); background-blend-mode: multiply; background-color: #666;  }
#app-caelestis .lds-ln { color: #996666; }
#app-caelestis .lds-ti { background: #996666; }
#app-caelestis .lds-wbg h1 { color: #996666; }
#app-caelestis .lds-wtxt b { color: #996666; }
#app-caelestis .lds-babg { background: rgba(202, 129, 129, 0.4); }
#app-caelestis .lds-aimg1b { background: rgba(255,255,255,0.5); border: 1px solid rgba(202, 129, 129, 0.6); }
#app-caelestis .lds-babg2 { background: rgba(202, 129, 129, 0.4); }
#app-caelestis .lds-aimg2b { background: rgba(255,255,255,0.5); border: 1px solid rgba(202, 129, 129, 0.6); }

#app-infestus .lds-tbg { background: url(https://s8.postimg.cc/wmc0ovcit/ezgif.com-gif-maker_3.jpg); background-blend-mode: multiply; background-color: #666; }
#app-infestus .lds-ln { color: #e0a66c; }
#app-infestus .lds-ti { background: #e0a66c; }
#app-infestus .lds-wbg h1 { color: #e0a66c; }
#app-infestus .lds-wtxt b { color: #e0a66c; }
#app-infestus .lds-babg { background: rgba(224, 166, 108, 0.4); }
#app-infestus .lds-aimg1b { background: rgba(255,255,255,0.5); border: 1px solid rgba(224, 166, 108, 0.6); }
#app-infestus .lds-babg2 { background: rgba(224, 166, 108, 0.4); }
#app-infestus .lds-aimg2b { background: rgba(255,255,255,0.5); border: 1px solid rgba(224, 166, 108, 0.6); }

#app-pluris .lds-tbg { background: url(https://s8.postimg.cc/nftq18zh1/ezgif.com-gif-maker_4.jpg); background-blend-mode: multiply; background-color: #666; }
#app-pluris .lds-ln { color: #81a6ca; }
#app-pluris .lds-ti { background: #81a6ca; }
#app-pluris .lds-wbg h1 { color: #81a6ca; }
#app-pluris .lds-wtxt b { color: #81a6ca; }
#app-pluris .lds-babg { background: rgba(129, 166, 202, 0.4); }
#app-pluris .lds-aimg1b { background: rgba(255,255,255,0.5); border: 1px solid rgba(129, 166, 202, 0.6); }
#app-pluris .lds-babg2 { background: rgba(129, 166, 202, 0.4); }
#app-pluris .lds-aimg2b { background: rgba(255,255,255,0.5); border: 1px solid rgba(129, 166, 202, 0.6); }

#app-polleo .lds-tbg { background: url(https://s8.postimg.cc/d5rb25u7p/ezgif.com-gif-maker_5.jpg); background-blend-mode: multiply; background-color: #666; }
#app-polleo .lds-ln { color: #81ca93; }
#app-polleo .lds-ti { background: #81ca93; }
#app-polleo .lds-wbg h1 { color: #81ca93; }
#app-polleo .lds-wtxt b { color: #81ca93; }
#app-polleo .lds-babg { background: rgba(129, 202, 147, 0.4); }
#app-polleo .lds-aimg1b { background: rgba(255,255,255,0.5); border: 1px solid rgba(129, 202, 147, 0.6); }
#app-polleo .lds-babg2 { background: rgba(129, 202, 147, 0.4); }
#app-polleo .lds-aimg2b { background: rgba(255,255,255,0.5); border: 1px solid rgba(129, 202, 147, 0.6); }

#app-turpe .lds-tbg { background: url(https://s8.postimg.cc/51j6x6uv9/ezgif.com-gif-maker_7.jpg); background-blend-mode: multiply; background-color: #666; }
#app-turpe .lds-ln { color: #a681ca; }
#app-turpe .lds-ti { background: #a681ca; }
#app-turpe .lds-wbg h1 { color: #a681ca; }
#app-turpe .lds-wtxt b { color: #a681ca; }
#app-turpe .lds-babg { background: rgba(166, 129, 202, 0.4); }
#app-turpe .lds-aimg1b { background: rgba(255,255,255,0.5); border: 1px solid rgba(166, 129, 202, 0.6); }
#app-turpe .lds-babg2 { background: rgba(166, 129, 202, 0.4); }
#app-turpe .lds-aimg2b { background: rgba(255,255,255,0.5); border: 1px solid rgba(166, 129, 202, 0.6); }

.lds-bg { width: 450px; background: #f2f2f2; padding: 5px; border: 1px solid #e0e0e0; }
.lds-tbg { width: 450px; height: 180px; background: url(https://s8.postimg.cc/dva3eon39/ezgif.com-gif-maker_6.jpg); background-blend-mode: multiply; background-color: #666; background-position: center !important; }
.lds-fn { width: 450px; font: 70px/70px saintandrews_queen; text-transform: lowercase; color: #eee; text-align: center; padding-top: 40px; }
.lds-ln { width: 450px; font: 800 30px/30px playfair display; color: #eee; letter-spacing: -1px; text-align: center; text-transform: uppercase; color: #595959; position: relative; top: -15px; }
.lds-bl { width: 250px; height: 1px; background: #555; }
.lds-ti { width: 450px; height: 25px; background: #595959; color: #fff; font: 8px/25px lato; text-transform: uppercase; text-align: center; }
.lds-wbg { width: 390px; padding: 30px; background: #fff; }
.lds-wbg h1 { width: 390px; font: 700 20px/30px playfair display; text-transform: uppercase; color: #595959; letter-spacing: -1px; text-align: left; border-bottom: 1px solid #ccc; }
.lds-wtxt { width: 370px; padding: 10px; font: 11px/11px calibri; color: #777; text-align: justify; height: 100px; overflow: auto; }
.lds-wtxt b { font: 900 9px/11px cousine; color: #595959; text-transform: uppercase; }
.lds-wtxt blockquote { background: #eee; padding: 15px; margin: 5px; margin-left: -1px; margin-bottom: 0px; }
.lds-wtxtfran { width: 370px; padding: 5px; font: 11px/11px calibri; color: #777; text-align: justify; height: 80px; overflow: auto; }
.lds-wabg { width: 450px; background: #fff; }
.lds-babg { width: 390px; height: 110px; background: rgba(89, 89, 89, 0.4); padding: 30px; }
.lds-aimg1b { width: 100px; height: 100px; background: rgba(255,255,255,0.5); border: 1px solid rgba(89, 89, 89, 0.6); padding: 4px; float: left; margin-right: 29px; }
.lds-aimg1 { width: 100px; height: 100px; background-position: center !important; background-size: cover !important; }
.lds-babg2 { width: 390px; height: 60px; background: rgba(89, 89, 89, 0.4); padding: 30px; }
.lds-aimg2b { width: 170px; height: 50px; background: rgba(255,255,255,0.5); border: 1px solid rgba(89, 89, 89, 0.6); padding: 4px; float: left; margin-right: 29px; }
.lds-aimg2 { width: 170px; height: 50px; background-position: center !important; background-size: cover !important; 
